x-app {
	display: block;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

x-window, x-legend-window, x-quest-info-window, x-settings-window {
	position: absolute;
	z-index: 2;
}
x-tree {
	display: contents;
}

.x-map-container {
	background-color: #223f5e;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.x-map-container .leaflet-container {
	background-color: transparent;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.x-zoom-controls {
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 2;
}
.x-zoom-controls .button {
	padding: 4px 8px;
}

.x-latlng-window {
	user-select: none;
	position: absolute;
	bottom: 12px;
	right: 12px;
	z-index: 2;
}
.x-latlng-window:empty {
	display: none;
}

x-legend-window {
	max-height: calc(100vh - 12px - 12px - 36px - 8px);
	width: 320px;
}
.x-legend-item::after {
	content: '';
	background-color: var(--dot-color);
	height: 8px;
	width: 8px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: 2px;
}

x-quest-info-window {
	width: 448px;
}
x-quest-info-window .x--rank-select {
	margin-bottom: 10px;
}
x-quest-info-window .x--quest-name {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}
x-quest-info-window .x--quest-description {
	margin-bottom: 10px;
}
x-quest-info-window .x--quest-info {
	table-layout: var(--table-layout);
}
x-quest-info-window .x--quest-info th {
	width: var(--header-width);
	white-space: nowrap;
}

x-settings-window {
	width: 380px;
}
x-settings-window .x--settings-reload {
	display: grid;
	gap: 5px;
	justify-items: start;
	margin-bottom: 10px;
}
x-settings-window .x--settings-about {
	margin-top: 10px;
}

.x-dot-marker {
	background-color: var(--dot-color);
	border: 2px solid black;
	border-radius: 50%;
}
