x-app {
	display: block;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

x-window, x-legend-window, x-quest-info-window {
	position: absolute;
	z-index: 2;
}
x-tree {
	display: contents;
}

.x-map-container {
	background-color: #223f5e;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.x-map-container .leaflet-container {
	background-color: transparent;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.x-zoom-controls {
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 2;
}
.x-zoom-controls .button {
	padding: 4px 8px;
}

.x-latlng-window {
	user-select: none;
	position: absolute;
	bottom: 12px;
	right: 12px;
	z-index: 2;
}
.x-latlng-window:empty {
	display: none;
}

x-legend-window {
	max-height: calc(100vh - 12px - 12px - 36px - 8px);
	width: 320px;
}

x-quest-info-window {
	width: 448px;
}
x-quest-info-window .x--quest-name {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}
